* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  width: 100vw;
}
.mobile {
  display: none;
}
.navbar-m {
  display: none;
}
.navbar {
  display: flex;
  height: 60px;
  background-color: #0f1111;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.navbar-logo {
  height: 50px;
  width: 120px;
  cursor: pointer;
}
.logo img {
  height: 50px;
  width: 100%;
  padding: 1px 4px 0 4px;
  margin: 2px;
  margin-left: 4px;
}
.border {
  border: 1px solid transparent;
  cursor: pointer;
}
.border:hover {
  border: 1px solid white;
  cursor: pointer;
}
/* box2 */
.navbar-address {
  padding: 8px 5px;
}
.add-1st {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 20px;
}
.add-2nd {
  font-size: 1rem;
}
.add-icon {
  display: flex;
}
/* box3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}
.nav-search:hover {
  border: 2px solid orange;
}
.search-select:hover {
  border-right: 2px solid orange;
}
.search-select {
  width: 45px;
  background-color: #f3f3f3;
  text-align: left;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: none;
  outline: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  font-size: 1.2rem;
  background-color: #febd68;
  color: black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* box4 */
.nav-signin {
  padding: 3px 5px;
}
.nav-return {
  padding: 3px 5px;
}
span {
  font-size: 0.7rem;
}
.nav-second {
  font-size: o.85rem;
  font-weight: 700;
}
/* box6 */
.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
  padding: 3px 5px;
}
/* panel */
.panel {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222f3d;
  color: white;
}
.panel-all {
  width: 50px;
  margin-right: 15px;
  font-size: 0.85rem;
  margin-left: 5px;
  padding: 8px 5px;
}
.panel-ops {
  display: flex;
  font-size: 0.85rem;
  width: 100%;
}
.panel-ops p {
  margin-right: 15px;
  padding: 8px 5px;
}
/* hero-section */
.hero-section {
  background-image: url(hero\ image.jpg);
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.shop-section {
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
}
.product {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 5px;
}
.product-container {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 15px 20px;
  width: 305px;
  height: 420px;
  background-color: #ffffff;
  margin: 10px;
  margin-top: 20px;
}
.product-container img {
  height: 85%;
  width: 100%;
  object-fit: cover;
}
.product-container a {
  width: 100%;
  margin-top: 20px;
  margin-left: 0;
  font-size: 0.85rem;
  text-decoration: none;
  color: #3973ab;
}
.product-container a:hover,
.product-container4 .link:hover {
  color: #222f3d;
}
.product-container h2,
.product-container4 h2 {
  width: 100%;
  margin-bottom: 15px;
  margin-left: 0;
  color: #0f1111;
  font-size: 1.2rem;
}
.product-container4 {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 15px 20px;
  width: 305px;
  height: 420px;
  background-color: #ffffff;
  margin: 10px;
  margin-top: 20px;
}
.product-container4 .product-detail1 {
  width: 125px;
  height: 125px;
  margin-bottom: 1px;
}
.pro4 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 10px;
}
.product-detail1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 30px;
}
.product-detail1 a {
  font-size: 0.8rem;
}
.product-detail1 p {
  font-size: 0.8rem;
}
.product-container4 .link {
  margin-top: 36px;
  font-size: 0.75rem;
  text-decoration: none;
  color: #3973ab;
}
/* sign up */
.signup {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}
.signup-label {
  margin-top: 20px;
  padding: 50px;
  border: 1.3px solid rgb(212, 210, 210);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup-label button {
  text-align: center;
  padding: 5px 11px;
  background-color: #ffd814;
  color: black;
  font-size: 0.75rem;
  font-weight: 300;
  border: none;
  border-radius: 45px;
  width: 143px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.signup-label p {
  font-size: 0.7rem;
}
.signup-label a {
  color: #3973ab;
}

/* footer */
footer .start-footer {
  width: 100%;
  height: 49px;
  background-color: #37475a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
footer .start-footer:hover {
  background-color: #465a72;
}
.backtotop {
  font-size: 0.8rem;
  padding: 15px 0px;
  font-weight: 600;
}
.footer-amazonlogo .navbar-logo {
  width: 130px;
  height: 30px;
}
.footer-amazonlogo .navbar-logo .logo {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.footer-panel {
  background-color: #232f3e;
  width: 100%;
  height: 300px;
}
.footer-main a {
  display: block;
  text-decoration: none;
  color: #cccccc;
  font-size: 0.9rem;
  margin: 10px 0 10px 0;
}
.footer-main a:hover {
  text-decoration: underline;
}
.footer-main {
  color: white;
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.footer-main p {
  font-size: 1rem;
  font-weight: 700;
}
.footer-panel2 {
  border-top: 0.5px solid #cccccc;
  height: 108px;
  background-color: #232f3e;
}
.footer-amazonlogo {
  margin: 10px 50px 0px 50px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.language {
  margin-left: 50px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 8px 10px 8px;
}
.language i {
  color: white;
}
.language select {
  border: none;
  outline: none;
  background: none;
  color: #cccccc;
}
.currency {
  padding: 10px 15px 10px 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  display: flex;
  color: #cccccc;
  cursor: pointer;
}
.currency p:first-child {
  padding: 0px 15px 0px 0px;
  color: white;
  font-weight: 600;
}
.currency p {
  font-size: 0.9rem;
}
.country {
  margin-left: 10px;
  padding: 10px 15px 10px 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  display: flex;
  color: #cccccc;
  cursor: pointer;
}
.country i {
  padding: 0px 15px 0px 0px;
  color: white;
}
.country p {
  color: #cccccc;
}
.footer-panel3 {
  padding-top: 15px;
  padding-bottom: 30px;
  width: 100%;
  height: 108px;
  background-color: #131a22;
}
.anker {
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
  justify-content: space-evenly;
}
.anker a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}
.anker a:hover {
  text-decoration: underline;
}
.footer-copyright p {
  font-size: 0.8rem;
  color: white;
  padding-top: 5px;
  text-align: center;
}
/* media queries */
@media (max-width: 799px) {
  .navbar-logo {
    height: 30px;
    width: 120px;
  }
  .logo img {
    height: 100%;
    width: 100%;
    padding: 1px 8px 0 6px;
    margin: 2px;
  }
  .navbar-address {
    padding: 8px 6px 8px 1px;
  }
  .hero-section {
    width: 100%;
    height: 400px;
    background-position: center;
  }
  .product {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
  }
  .shop-section {
    padding-top: 10px;
    height: 1850px;
  }
  .signup {
    height: 150px;
  }
  .signup-label {
    padding: 20px 30px 20px 30px;
  }
  .footer-main ul {
    padding-right: 5px;
    padding-left: 25px;
  }
  .anker {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media (max-width: 477px) {
  .navbar {
    display: none;
  }
  body {
    width: 100%;
  }
  .mobile {
    display: initial;
  }
  .navbar-m {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 48px;
    background-color: #232f3e;
  }
  .fixing {
    width: 60%;
  }
  .navbar-logo {
    height: 28px;
    width: 80px;
  }
  .navbar-m i {
    color: white;
    height: 20px;
    width: 20px;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .navbar-signin {
    width: 48px;
    height: 48px;
    display: flex;
  }
  .navber-signin p {
    font-size: 0.8rem;
    color: white;
  }
  .nav-cart {
    width: 37px;
    height: 27px;
  }
  .nav-cart i {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }
  .panel {
    display: none;
  }
  .nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 100%;
    height: 40px;
    border-radius: 4px;
  }
  .search-input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .panel2-mobile {
    width: 100%;
    height: 50px;
    background-color: #232f3e;
    padding: 1px 15px 0px 15px;
  }

  .mobile-panel {
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: auto;
    height: 45px;
    display: flex;
    background-color: #232f3e;
    color: white;
  }
  .mobile-panel p {
    font-size: 0.85rem;
    font-weight: 600;
  }
  .hero-section {
    width: 100%;
    height: 340px;
    background-position: center;
    background-size: cover;
  }
  .product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0%;
    margin-right: 0%;
  }
  .shop-section {
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .shop-section {
    padding-top: 10px;
    height: 100%;
  }
  .product {
    display: flex;
    flex-direction: column;
  }
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 440px;
    background-color: #ffffff;
    margin: 0px;
    margin-top: 20px;
  }
  .product-container img {
    height: 100%;
    width: 90%;
    object-fit: cover;
  }
  .product-container h2 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-left: 50px;
  }
  .product-container4 p {
    font-size: 0.95rem;
  }
  .product-container a {
    margin-left: 50px;
  }
  .product-container4 {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 440px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 18px;
    margin-right: 5px;
  }
  .pro4 {
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 0px;
  }
  .product-detail1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 0px;
    border-radius: 2px;
  }
  .product-container4 .product-detail1 {
    padding-left: 5px;
    padding-right: 5px;
    width: 46%;
    height: 50%;
    margin-bottom: 1px;
  }
  .product-container4 .link {
    margin-top: 70px;
    margin-left: 10px;
  }
  .product-container4 .margin-top {
    margin-top: 70px;
    margin-left: 10px;
  }
  .product-container4 h2 {
    font-size: 1.3rem;
    font-weight: 800;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .product-container4 p {
    font-size: 0.95rem;
  }
  .signup {
    height: 120px;
  }
  .signup h2 {
    font-size: 1.2rem;
  }
  .signup-label {
    padding: 10px 20px 10px 20px;
    margin-top: 0%;
  }
  footer .start-footer {
    margin-top: 0px;
  }
  .footer-panel {
    background-color: #232f3e;
    width: 100%;
    height: 950px;
    padding-bottom: 50px;
  }
  .footer-main {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .footer-main p {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .footer-main a {
    margin-bottom: 10px;
  }
  .footer-main ul {
    padding-right: 5px;
    padding-left: 25px;
  }
  .footer-panel2 {
    display: none;
  }
  .footer-panel3 {
    margin-top: 40px;
  }
  .anker a {
    text-decoration: none;
    color: white;
    font-size: 0.6rem;
  }
  .anker {
    padding-left: 4%;
    padding-right: 3%;
    margin-bottom: 2%;
  }
  .anker a {
    margin-right: 5px;
  }
}
